* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 550;
  opacity: 0.7;
}

.header .nav,
.header h1 {
  margin-top: 5rem;
  text-align: center;
}

.header hr {
  width: 6rem;
  margin-top: 0;
}

.header .fas {
  font-size: 1rem;
}

.header .menu-toggle {
  outline: 0;
  border: 0px;
  background-color: white;
  margin: 1rem;
  padding-top: 2rem;
  font-size: 1em;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0;
}

.card {
  width: 23rem;
  float: left;
  margin-top: 5rem;
  margin-left: 2rem;
  left: 0;
  right: 0;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 368px;
  height: 360px;
  margin-bottom: 0.5rem;
}

.card-text h2 {
  font-size: 1rem;
}

.card-text {
  margin: 1rem;
}

.card-text span {
  opacity: 0.6;
  font-size: 0.8rem;
}

.card-text p {
  font-size: 13px;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

hr {
  border: 0.1px solid orange;
}

.nav {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.nav li {
  list-style-type: none;
  margin: 0 2rem;
  padding: 0;
  display: inline;
}

.nav li:hover {
  border-bottom: 1px solid orange;
}
